<!Doctype HTML>
<html>

  <header>
    <title>
      Practice Python!
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/quizstyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="my_script.js"></script>
  </header>

  <body>

    <center><h1 class = "title">
      Level 1: What actually is Python?
    </h1></center>

    <center><h2 class = "question">
      Question 1: Why is Python important?
    </h2></center>

    <h4><div id = "q1">
      <p>
        a. Python is what makes up the display of a web page; the design of web pages are coded mainly through Python
        <br>
        b. Programs written in Python are used to perform some type of task (i.e. math calculations)
        <br>
        c. Both a and b are correct
      </p>
    </div></h4>

    <form action = "/level2">
      <button id = "submit1" type="button" class="btn btn-default btn-lg">submit answer!</button>
    </form>

    <br>
    <br>

    <form action="/">
      <input type="submit" value="Home" id ="home">
    </form>

  </body>

</html>
