<!Doctype HTML>
<html>

  <header>
    <title>
      Practice Python!
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/menustyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="my_script.js"></script>
  </header>
  <body>
    <nav class="menu">
    <ul>
    <div id="menu_home"><li><a href="/">Home</a></li></div>
      <div id="menu_quiz"><li><a href="/index">Quiz</a></li></div>
    <div id="menu_scoreboard">   <li><a href="/scoreboard">Scoreboard</a></li></div>
      <div id = "menu_logout">
      <li><a onclick = "signOut();" href = "/">Logout</a></li>
    </div>
    </ul>
  </nav>
  <!-- menu is ugly...will fix later -->
  </body>
  </html>
