<!Doctype HTML>
<html>

  <header>
    <title>
      ???
    </title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="my_script.js"></script>
  </header>

  <body>
    <center><h1 id = "level1title">
      Level 1
    </h1></center>
    <center><h2 id = "question1">
      Question 1: What is wrong with the following code?
    </h2></center>
    <div id = "q1">
      <h3 id = "problem1">
      i = 0
      <br>
      while i < 100
      <br>
        <div id = "printstatement"> print "i is less than 100"</div>
      </h3>
    </div>
    <form method = "post" action = "/level2">
      <input type="submit" value="A">
    </form>

  </body>

</html>
